.ev-form {
  margin: 2rem auto;
  width: 50%;
  min-width: 15rem;
  padding: 1rem;
  border: 5px solid #2191c5;
  border-radius: 5px;
  background: gray;
}

.ev-label {
  display: inline-block;
  width: 15%;
  font-size: 16px;
  margin-bottom: 10px;
}

.ev-desc {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.ev-input {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 16px;
  color: white;
  background: #000000;
  outline: none;
}


.ev-desc-input {
  text-align: center;
  width: 54%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 16px;
  color: white;
  background: #000000;
  outline: none;
}

.ev-input[type="submit"] {
  font-family: "Calistoga", sans-serif;
  text-align: center;
  width: 8%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 1.2rem;
  color: black;
  background: #ff0101;
  outline: none;
}

.ev-button {
  padding: 0.5rem 1rem;
  width: 100px;
  font: inherit;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #2191c5;
  color: black;
  cursor: pointer;
  outline: none;
  margin: 0 3px;
}

.ev-link  {
  text-decoration: none;
  color: white;
}

.events-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.event {
  border: 3px solid green;
  margin: 1%;
  padding: 5px;
  width: 30%;
}
.dates {
  display: inline-flex;
}
.start-date {
  margin: 15px 70px 15px 0px
}
.end-date {
  margin: 15px 0px 15px 70px

}

.event-logo {
  width: 200px;
  height: 200px;
}