.event-form {
  width: 80%;
  margin: 2rem auto;
  border: 5px solid rgb(10, 39, 78);
  border-radius: 5px;
  background: gray;
}

.ev-label {
  display: inline-block;
  width: 24%;
  margin-left: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.ev-desc {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.ev-input {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 14px;
  color: white;
  background: rgb(10, 39, 78);
  outline: none;
}

.ev-desc-input {
  text-align: center;
  width: 85%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 14px;
  color: white;
  background: rgb(10, 39, 78);
  outline: none;
}

.ev-input[type="submit"] {
  font-family: "Calistoga", sans-serif;
  text-align: center;
  width: 8%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 1.2rem;
  color: black;
  background: #ff0101;
  outline: none;
}

.ev-button {
  padding: 0.5rem 1rem;
  width: 100px;
  font: inherit;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #2191c5;
  color: black;
  cursor: pointer;
  outline: none;
  margin: 0 3px;
}

.ev-link {
  text-decoration: none;
  color: white;
}

.events-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.event {
  border: 5px solid rgb(10, 39, 78);
  border-radius: 40px;
  margin: 1%;
  padding: 5px;
  width: 30%;
}
.dates {
  display: inline-flex;
}
.start-date {
  margin: 15px 70px 15px 0px;
}
.end-date {
  margin: 15px 0px 15px 70px;
}

.event-logo {
  width: 200px;
  height: 200px;
  border-radius: 20%;
}
.page-number {
  margin: 10px 5px;
  font-size: 24px;
  width: 100px;
}
#page-numbers {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.page-numbers {
  border: 2px solid rgb(10, 39, 78);
  border-radius: 20px;
  background: lightgray;
  margin: 0 35% 0 35%;
  width: 30%;
  display: flex;
}

#page-numbers > li {
  text-align: center;
  margin: 0.3em 5px 0.3em 0.3em;
  color: black;
  cursor: pointer;
  border: 3px solid rgb(10, 39, 78);
  padding: 6px;
  font-size: 18px;
  border-radius: 10px;
}

#page-numbers > li:active {
  background: red;
}
