.mp-text {
  border: 2px solid red;
  margin: 0 30%;
  padding: 0 2%;
}

.mp-desc {
  margin: 2% 25%;
}

.mp-title {
  margin: 0 25%;
}

.mp-events {
  text-decoration: underline;
}

.event-more-button {
  font: inherit;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background: #9ca6aa;
  margin: 10px;
}

.event-more-link {
  text-decoration: none;
  color: rgb(10, 39, 78);
  font-size: 18px;
}