.ticket-form {
  margin: 2rem auto;
  width: 50%;
  min-width: 15rem;
  padding: 1rem;
  border: 5px solid rgb(10, 39, 78);
  border-radius: 5px;
  background: gray;
}

form p {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: red;
}

.ticket-label {
  display: inline-block;
  width: 30%;
  font-size: 1rem;
  margin-bottom: 10px;
}

.ticket-input {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 13px;
  color: white;
  background: rgb(10, 39, 78);
  outline: none;
}

.ticket-input[type="submit"] {
  font-family: "Calistoga", sans-serif;
  text-align: center;
  width: 10%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 1.2rem;
  color: black;
  background: #ff0101;
  outline: none;
}

.ticket-button {
  padding: 0.5rem 1rem;
  width: 100px;
  font: inherit;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #2191c5;
  color: black;
  cursor: pointer;
  outline: none;
  margin: 0 3px;
}

.ticket-link {
  text-decoration: none;
  color: white;
}

h1 {
  padding-top: 10px;
}

.ticket-table {
  display: inline-flex;
  width: 75%;
  margin: 0 10% 0 10%;
}

.ticket-details {
  width: 10%;
  display: inline-block;
  border: 3px solid rgb(10, 39, 78);
}

.ticket-desc {
  width: 50%;
  border: 3px solid rgb(10, 39, 78);
}

.ticket-seller {
  width: 25%;
  border: 3px solid rgb(10, 39, 78);
}

.ticket-price {
  width: 15%;
  border: 3px solid rgb(10, 39, 78);
}

.ticket-risk {
  width: 4%;
  border: 3px solid rgb(10, 39, 78);
}

.seller-cell,
.price-cell,
.desc-cell {
  border-bottom: 1px solid rgb(10, 39, 78);
  padding: 0;
  margin: 15px;
}

.details-cell {
  padding: 0;
  margin: 8.5px 1px;
  border-bottom: 1px solid transparent;
  width: 99%;
}

.seller-title,
.desc-title,
.details-title,
.price-title,
.risk-title {
  border-bottom: 4px solid rgb(10, 39, 78);
  margin: 10px 0 0 0;
  padding-bottom: 10px;
  font-size: 20px;
}

.back-button {
  padding: 0.5rem 1rem;
  width: 100px;
  font: inherit;
  border-radius: 10px;
  background-color: #9ca6aa;
  cursor: pointer;
  outline: none;
  margin: 50px;
}

.edit-button {
  padding: 0.5rem 1rem;
  width: 100px;
  font: inherit;
  border-radius: 10px;
  background-color: #9ca6aa;
  cursor: pointer;
  outline: none;
  margin: 50px;
}
.back-link {
  text-decoration: none;
  color: rgb(10, 39, 78);
}
.edit-link {
  text-decoration: none;
  color: rgb(221, 20, 20);
}

.more-button {
  font: inherit;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background: #9ca6aa;
  margin: 10px;
}
.more-link {
  text-decoration: none;
  color: rgb(10, 39, 78);
}

.comment-section {
  margin: 0 30% 0 30%;
  width: 40%;
  border: 2px solid rgb(10, 39, 78);
  background: lightgray;
  border-radius: 30px;
}

.comments-table {
  display: inline-flex;
  width: 100%;
}

.comment-text {
  width: 70%;
  padding: 0;
  margin: 5px;
  margin-top: 0;
}

.comment-author {
  width: 30%;
  padding: 0;
  margin: 5px;
  margin-top: 0;
}

.text-cell,
.author-cell {
  border-bottom: 1px solid rgb(10, 39, 78);
  padding: 0;
  margin: 5px 0 7px 0px;
}

.comment-form {
  margin: 1rem auto;
  width: 95%;
  min-width: 15rem;
  border: 5px solid rgb(10, 39, 78);
  border-radius: 40px;
  background: gray;
}
.comment-label {
  margin: 5px 0;
  font-size: 20px;
  color: red;
}

.comment-input {
  text-align: center;
  width: 95%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 13px;
  color: white;
  background: rgb(10, 39, 78);
  outline: none;
  margin: 5px 0;
}

.comment-input[type="submit"] {
  text-align: center;
  width: 10%;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 10px;
  min-height: 2rem;
  font-size: 15px;
  color: white;
  background: red;
  outline: none;
  margin: 5px 0;
}

.ticket-image {
  width: 150px;
  height: 150px;
  margin: 20px;
  border-radius: 50%;
}

h4 {
  margin: 10px;
}

.info-wrapper {
  display: flex;
}

.desc-section {
  margin: 10px;
  width: 60%;
}
.image-section {
  width: 60%;
}

.ticket-section {
  border: 2px solid #2191c5;
  border-radius: 30px;
  margin: 0 30% 2% 30%;
  width: 40%;
  background: rgb(10, 39, 78);
  color: white;
}

.risk-1 {
  width: 20px;
  height: 20px;
  background: green;
  border: 3px solid green;
  border-radius: 50%;
  margin: 8.5px;
}

.risk-2 {
  width: 20px;
  height: 20px;
  background: lightgreen;
  border: 3px solid lightgreen;
  border-radius: 50%;
  margin: 8.5px;
}

.risk-3 {
  width: 20px;
  height: 20px;
  background: yellow;
  border: 3px solid yellow;
  border-radius: 50%;
  margin: 8.5px;
}

.risk-4 {
  width: 20px;
  height: 20px;
  background: orange;
  border: 3px solid orange;
  border-radius: 50%;
  margin: 8.5px;
}

.risk-5 {
  width: 20px;
  height: 20px;
  background: red;
  border: 3px solid red;
  border-radius: 50%;
  margin: 8.5px;
}
